/*
  Adds a background image of Ash and Pikachu.
  Image follows the user as the user scrolls up 
  and down the page.
*/

body{
  background-image: url('https://i.chzbgr.com/full/7294855424/hE3326697/say-hi-pikachu');
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;


}

/*
  Displays the cards in a grid like view.
*/
.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit,
  minmax(192px, 256px));
  gap: 32px;
  margin-left: 300px;
} 

/*
  Gives the second column some space between the first column.
*/
.row2{
  margin-left: 100px;
}


